h1 {
    font-family: "Delius Swash Caps", "Trebuchet MS", sans-serif;
    font-size: 5rem;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
}

body {
    background-color: #a47864;
}

h2 {
    font-family: Poppins, Verdana, sans-serif;
    font-size: 2rem;
    color: #dcd0ff;
    text-align: center;
}

nav {
    background-color: antiquewhite;
    padding: .3rem;
    text-align: center;
}

a {
    font-size: 1.25rem;
    color: #a47864;
    transition-property: font-size, background-color, padding;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

a:link {
    font-family: Poppins, Verdana, sans-serif;
    text-decoration: none;
}

a:hover {
    font-size: 2rem;
    background-color: #dcd0ff;
    padding: .5rem;
}

h3 {
    font-family: Poppins, Verdana, sans-serif;
    font-size: 1.5em;
    color: antiquewhite;
    padding: 3px;
}

article {
    background-color: #2f4f4f;
    padding-left: 3px;
    padding-right: 3px;
}

p {
    font-family: Poppins, Verdana, sans-serif;
    color: #ffffff;
}

ul {
    color: #2f4f4f;
    font-family: Poppins, Verdana, sans-serif;

}

footer {
    background-color: antiquewhite;
}

img {
    border-style: solid;
    border-color: antiquewhite;
    border-width: 5px;
    margin: 5px;
}

blockquote {
    font-family: Poppins, Verdana, sans-serif;
    color: #2f4f4f;
    font-size: 1.25rem;
    padding: 3px;
    text-align: center;
}

.footer {
    color: #2f4f4f;
}

.important {
    font-style: italic;
}

.project-color {
    background-color: #2f4f4f
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 150px;
    width: 300px;
    border: 5px solid #dcd0ff;
    background-color: #ffffff;
}

.intro-box {
    box-sizing: border-box;
    width: 510px;
    padding: 1rem;
    border: 5px solid #dcd0ff;
    margin: 3px;
}

aside li {
    font-size: 1rem;
    color: #2f4f4f;
    transition-property: font-size;
    transition-duration: 3s;
    transition-timing-function: ease-out;
}

aside li:nth-child(2n) {
    color: #402e26;
}

aside li:hover {
    font-size: 2rem;
    color: aquamarine;
}